* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 40%;
    background: linear-gradient(220deg, #f3f3f3a6, #ffffff3d);
    margin: auto;
    height: 50%;
    border-radius: 50px;
    margin-top: 25vh;
    z-index: 2;
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.33); 
box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.33);
display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    width: 250px;
    color: rgb(39, 18, 11);
    font-size: 35px;
    font-weight: bolder;
    margin-top: 50px;
    text-align: center;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.usrname {
    width: 250px;
    padding: 5px;
     font-size: 20px;
     background-color: #ffffff00;
     color: #000000;
    ;
     box-shadow: 0px 0px 5px rgba(66,66,66,.0);
     text-shadow: 0px 0px 5px rgba(66,66,66,.0);
     border-bottom: 2px black;
    
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #0B51BA;
background: -webkit-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: -moz-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: linear-gradient(-45deg, #23a2d5, #235bd5);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    width: 200px;
    height: 300px;
}

a {
    text-decoration: none;
    font-weight: 500;
}

.content {
    top: 0;
    right: 0;
    color: black;
    font-size: 30px;
}
