* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 70%;
    background: linear-gradient(220deg, #f3f3f3a6, #ffffff3d);
    margin: auto;
    height: 80%;
    border-radius: 50px;
    margin-top: 10vh;
    z-index: 2;
    backdrop-filter: blur(20px);
}

.circle1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(90deg, #ffffff9a, #ffffff46);
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: 1;
}

.circle2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(290deg, #ffffffe7, #f7f7f779);
    position: absolute;
    left: 100px;
    top: 600px;
    z-index: 1;
    
}

.drawer {
    position: relative;
    width: 300px;
    height: 100%;
    background: linear-gradient(139deg, #efefefad, #ffffff4d);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40px;
}

.name {
    width: 250px;
    color: rgb(33, 66, 136);
    font-size: 22px;
    font-weight: bolder;
    margin-top: 50px;
    text-align: center;
    background: #0B51BA;
background: -webkit-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: -moz-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: linear-gradient(-46deg, #23a2d5, #235bd5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #0B51BA;
background: -webkit-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: -moz-linear-gradient(to left, #0B51BA 74%, #1189D9 100%);
background: linear-gradient(-45deg, #23a2d5, #235bd5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    width: 200px;
    height: 300px;
}

a {
    text-decoration: none;
    font-weight: 500;
}
